<h1>Welcome {{ name }} </h1>
<h2>What Would You Like To Do?</h2>
<ul class="fs-5">
  <a href="#" class="text-info"><li>View Account</li></a>
  <a href="/new-list" class="text-info"><li>Make a New List</li></a>

  <a href="/sign-up" class="text-info"><li>Create Account</li></a>
  <a href="#" class="text-info"><li>View Existing Lists</li></a>

  <a href="/game-list" class="text-info"><li>View Existing Lists</li></a>
   <a href="/sign-up" class="text-info"><li>Create Account</li></a>

</ul>
