<h1>Welcome {{ name }} </h1>
<h2>What Would You Like To Do?</h2>
<ul>
  <a href="#"><li>View Account</li></a>
  <a href="/new-list"><li>Make a New List</li></a>
  <a href="#"><li>View Existing Lists</li></a>
</ul>
