<h1>Welcome, {{ user.name }} </h1>
<h2>What Would You Like To Do?</h2>
<ul class="fs-5">
  <a href="/create-profile" class="text-info"><li>Create New Profile</li></a>
  <a href="/user-profile" class="text-info"><li>View Account</li></a>
  <a href="/new-list" class="text-info"><li>Make a New List</li></a>
<<<<<<< HEAD
<a href="/game-list" class="text-info"><li>View Existing Lists</li></a>
=======
  <a href="/game-list" class="text-info"><li>View Existing Lists</li></a>
>>>>>>> 1cfe24934968a7cbcac1bc971ec9e60d93f56d40
</ul>
