<h1>Welcome, {{ user.name }} </h1>
<h2>What Would You Like To Do?</h2>
<ul class="fs-5">
  <a href="/user-profile" class="text-info"><li>View Account & Lists</li></a>
  <a href="/new-list" class="text-info"><li>Make a New List</li></a>
  
</ul>
