<section>
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img
            src="https://images.pexels.com/photos/7229896/pexels-photo-7229896.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="avatar" class="img-fluid">
          <h5 class="my-3">Lancelot Roundtable</h5>
          <p class="text-muted mb-4">England, Middle Ages</p>
          <div class="d-flex justify-content-center mb-2">
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Johnatan Smith</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-2">example@example.com</p>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Twitch</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-1">Example123</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-body text-center">
                      <p>Quest Lists</p>
                      <div class="d-flex justify-content-center mb-2">
                      </div>
                    </div>
                  </div>


</section>

<script src="/js/profile.js"></script>