

h1, h2, h3, h4, h5, h6 {
    font-family: 'MedievalSharp', cursive;
    color: purple;
    
    
}
body {
    background: url('../images/dragon3.jpg') no-repeat fixed;
    background-size: cover;
    background-position-y: -200px;
    font-family: 'Figtree', sans-serif;
    color: aliceblue;
}
