

h1, h2, h3, h4, h5, h6 {
    font-family: 'MedievalSharp', cursive;
    color: purple;
    text-decoration: none;
    
}
body {
<<<<<<< HEAD
    background-image: url('../images/dragon3.jpg');
    background-size: 1505px; /* Adjust to your preference */
=======
    background-image: url('../images/underwater.jpg');
    background-size: cover; /* Adjust to your preference */
>>>>>>> 5804a513a41114162214e1cb2dc7ebf4f46e5e8c
    background-repeat: no-repeat;
    background-attachment: fixed; /* This keeps the background fixed while scrolling */
    font-family: 'Figtree', sans-serif;
    color: aliceblue;
}

