h1, h2, h3, h4, h5, h6 {
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    color: #7D0000;
    margin-top: 60px;
}
body {
    background-image: url('https://img.freepik.com/free-vector/old-nautical-map-template_225004-981.jpg?w=2000');
    background-size: cover; /* Adjust to your preference */
    background-repeat: no-repeat;
    background-attachment: fixed; /* This keeps the background fixed while scrolling */
    font-family: 'Figtree', sans-serif;
}

.square-box {
    max-width: 600px;
    min-height: 600px;
    border: 1px solid transparent;
}
